<li class = "field_song">
  <%= f.label :song_id %>:
  <%= f.select :song_id,
                  load_all_song,
                  {include_blank: false},
                  {class: "js-example-basic-single",style: "width:150px;"} %>
  <%= f.check_box :_destroy %>
  <%= f.label :delete %>
</li>
