<tr>
  <td><%= link_to album.name, edit_admin_album_path(album) %></td>
  <td><%= l album.created_at, format: :long %></td>
  <td><%= l album.updated_at, format: :long %></td>
  <% if current_user.admin? %>
    <td><%= link_to t("layouts.header.delete"), admin_album_path(album), method: :delete,
      data: { confirm: t("layouts.header.sure") } %></td>
  <% end %>
</tr>
