<%= form_for [@song, @song.comments.build], remote: true do |f| %>
  <%= f.hidden_field :song_id, value: @song.id %>
  <div class = "form-group">
    <%= f.text_field :content, class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-info" %>
<% end %>
